.right
{
    height: 500px;
    border-radius: var(--radius_c);
    background: var(--main1);
    box-sizing: border-box;
    width: 68%;
    position: absolute;
    top: 10%;
    left: 15%;
}
.container01
{
    margin: 60px auto;
    width: fit-content;
    height: 100%;
    position: relative;
}
.zonetext:focus, input:focus, .Priorite:focus
{
    outline: none; 
}
input, .zonetext, option, .Priorite
{
    border-radius: 5px;
    border: none;
    color: rgb(68, 67, 67);
    padding: 5px 12px;  
    width: 100%;
}
.zonetext
{
    border-radius: 0px 18px 0px 18px;
}
.zonetext::-webkit-scrollbar
{
    border-radius: 18px;
    background-color: transparent;
    border: 1px solid  transparent;
    pointer-events: visible;
    cursor:pointer ;
}
.zonetext::-webkit-scrollbar-thumb
{
    border-radius: 18px;
    background-color: rgb(203, 199, 211);
}
.formulaire
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}
.text
{
    grid-area: 2/1/3/3;
}
.date
{
    grid-area: 1/2/2/3;
    /* border: 1px solid  blue; */
    /* height: fit-content; */
}
.title
{
    grid-area: 1/1/2/2;
    /* border: 1px solid  blue; */
    /* height: fit-content; */
}
h3
{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 12px;
}
.foot
{
    display: flex;
    width: 100%;
    bottom: 20px;
    justify-content: space-between;
    margin-top: 25px;
}
.fermer
{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: brown;
}
.fermer:hover
{
    box-shadow: 0px 1px 6px 2px rgb(238, 116, 124);
    cursor: pointer;
}
