@media screen and (max-width: 480px) {
    #profile {
        display: flex;
        justify-content: center;
        padding: 12px;
        background-color: #464444;
        margin-bottom: 12px;
        width: 100vw;
        position: sticky;
    }
    
    .add img {
        border-radius: 50%;
        background: white;
        padding: 15px;
        position: absolute;
        top: 0px;
    }
    
    .add {
        display: flex;
        justify-content: center;
        padding: 12px;
        background-color: #464444;
        margin-top: 12px;
        width: 100vw;
        position: relative;
    } 

    .right
    {
        width: 50%;
    }
    
    .left {
        display: none;
    }
   
}
